@import './src/app/_base.scss';
.home{
    font-family: playfair Display;
    color: $grey_red;
    margin: 25vh 0 0 20vw;
    letter-spacing: 2px;
    font-size: 2rem;
}

p{
    margin-top: 15px;
    font-size: 1.2rem;
    
}