// Colors 
$main_text:#EB5406;
$c_black:#000000;
$c_white:#ffffff;
$c_blue:#151B54;
$grey_red:#413839;
$table_head:#E3E4FA;
$c_red:red;
$dark_blue:#192733;
$delete:#C34A2C;
$edit:#4E5180;

// Device sizes
$mobile:360px;
$tablet:768px;
$laptop:1024px;
$desktop:1200px;