@import './src/app/_base.scss';
@import '/node_modules/bootstrap/dist/css/bootstrap.min.css';

.search,.temperature,input{   
    color: $main_text;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.7);   
}

.temperature{
    margin: 5% 0% 0% 1%;
    width: 95%;
    height:100%;
    color: $c_blue;
    padding: 10px;
}

.search{
    width:30%;
    height: 40%;
    padding: 15px;
    margin: 5% 0% 0% 35%;
    font-size: 16px;
}

.btn-primary{
    margin-left: 12px;
}


input{
    padding: 10px;
    width: 70%;
}
button{
    margin-left: 2px;
}
span{
    color: #7D0552;
    letter-spacing: 1px;
}


@media (min-width:$mobile) and (max-width:$laptop) {
    .search{
        width:70%;
        margin-left: 15%;
        margin-top: 5vh;
    }
    input{
        width:95%;
    }
    .btn-primary{
        margin-top: 10px;
    }
}