<div>
<div class="search">
    <input type="text" placeholder="Search your city" class="input" name="value" [(ngModel)]="CityName"> 
    <button type="button" class="btn btn-primary" (click)="Search()">Search</button>
    
    <div class="temperature" *ngIf="x">
        <p>Weather : <span>{{weather | uppercase}}</span> </p>      
        <p>Temperature : <span>{{temperature}} </span></p> 
        <p>Humidity : <span>{{humidity}}</span> </p> 
        <p>Pressure : <span>{{pressure}}</span> </p>
        <p>Location : <span>{{location}}</span>  </p>
        <button type="button" class="btn btn-success" (click)="AddToFavourite()">Save</button>
    </div>
</div>
</div>